ul{
    list-style-type: none;
}
li{
    float:right;
    padding:1%;
}
#header h1{
    padding-top:5%;
}
#content{
    background-color: rgb(209, 202, 202);
    padding:2%;
}
#hd1{
    width:25%;
}

#sidebar1{
    display:block;
    width:20%;
}

#sb1{
    margin-top:10%;
    padding:20%;
    background-color: rgb(209, 203, 203);
}
#sb2{
    margin-top:10%;
    padding:20%;
    background-color: rgb(209, 203, 203);
}
#sb3{
    margin-top:10%;
    padding:20%;
    background-color: rgb(209, 203, 203);
}
.t{
    text-align:center;
}
.f{
    float:left;
    margin:5%;
}
#main{
    overflow:hidden;
}
#tx1{
    width:45%;
    height:5%;
}
#bt1{
    background-color: rgb(94, 94, 187);
    color:white;
    padding:15px 20px;
    width:25%;
    text-align:left;
    padding-left:5%;
}
#pr1{
    float:left;
}
#pr1{
    float:right;
}
#ft1{
    background-color: rgb(214, 209, 209);
    padding-left:15%;
}
#sp1{
    font-size:20px;
    font-weight:bold;
}
.gg{
    display: flex;
    place-content: center;
}
@media screen and (max-width: 800px) {
    .gg, #footer {
      flex-direction: column;
    }
  }